a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.btn {
    background-color: white;
    border: 2px solid #ff80b3;
    padding: 0.6rem 1.3rem;
    border-radius: 40px;
    color: #ff4f8a;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: #ff80b3;
        color: white;
        box-shadow: 0 4px 12px rgba(255, 128, 179, 0.4);
        transform: scale(1.05);
    }
}
