@use '../base/variables' as v;

.barraNavegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 4rem;

    nav {
        background-color: v.$fondoMenu;
        display: flex;
        width: 90%;
        padding: 1rem 2rem;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 999;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

        a {
            position: relative;
            color: v.$textoBoton;
            font-size: 16px;
            font-weight: 900;
            text-decoration: none;
            padding: 0.5rem 1rem;
            transition: color 0.3s ease-in-out;

            // Línea animada debajo del texto
            &::after {
                content: '';
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 0%;
                height: 3px;
                background-color: v.$colorBoton;
                border-radius: 10px;
                transition: width 0.3s ease-in-out;
            }

            &:hover::after {
                width: 100%; // Línea aparece con animación
            }
        }

        // Estilo del botón de carrito
        .btn-carrito {
            border-radius: 20px;
            border: 2px solid white;
            padding: 0.5rem 1.2rem;
            background-color: v.$colorBoton;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                color: white;
                font-weight: 900;

                // Línea debajo desactivada para botón
                &::after {
                    display: none;
                }
            }

            &:hover {
                background-color: v.$botonHover;
                transform: translateY(-3px);
                transition: 0.3s ease-in-out;
            }
        }
    }
}
