.belleza {
background-color: #fff7fa;
padding: 4rem 2rem;
text-align: center;

.titulo-belleza {
    font-size: 2.5rem;
    color: #ff6fa5;
    font-weight: bold;
    margin-bottom: 3rem;
}

.contenedor-belleza {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    justify-items: center;
    height: 100vh;
    .cont-info{
        width: 60%;
        display: flex;
        flex-direction: column;
        height: 100%;
        .producto {
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            border-radius: 20px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            padding: 1.5rem;
           
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            display: flex;
            flex-direction: column; /* imagen a la derecha */
            align-items: center;
            justify-content: space-between;
            text-align: left;

            &:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
            }
            div {
            flex: 1;
            }

            h3 {
            color: #ff6fa5;
            font-size: 1.3rem;
            margin-bottom: 0.5rem;
            }

            p {
            font-size: 1rem;
            color: #666;
            margin-bottom: 1rem;
            }

            button {
            background-color: #ff6fa5;
            color: white;
            border: none;
            border-radius: 25px;
            padding: 0.5rem 1.5rem;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #ff4b91;
            }
            }
        }
            }
    .cont-images{
        position: relative;
        width: 40%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .image{
            width: 50%;
            height: 30%;
            border: 10px solid rgb(224, 130, 196);
            border-radius: 16px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 16px;
            }
        }
        .img1{
            position: absolute;
            top: 20px;
            
            right: 40px;
            
        }
        .img2{
            position: absolute;
            top:200px;
        }
        .img3{
            position: absolute;
            top:380px;
            right: 40px;
            
        }
    }

}

}
.lista-kawaii {
  padding: 4rem 2rem;
  background-color: #ffeaf4;
  border-radius: 55px;
  text-align: left;
  max-width: 500px;
  margin: auto;

  h2 {
    font-size: 2.3rem;
    color: #ff4b91;
    font-family: "Poppins", sans-serif;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      font-size: 2rem;
      color: #333;
      padding: 0.8rem 1rem;
      background-color: #fff;
      border-radius: 30px;
      margin-bottom: 5rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
    background-color: #ffd7eb;
      }
    }
  }
}
.tienda-kpop {
  padding: 4rem 2rem;
  background-color: #fff5fb;

  /* FILTROS */
  .filtros {
    display: flex;
    gap: 1rem;
    justify-content: right;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    button {
  background-color: white;
  border: 2px solid #ff80b3;
  padding: 0.6rem 1.3rem;
  border-radius: 40px;
  color: #ff4f8a;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff80b3;
  color: white;
  box-shadow: 0 4px 12px rgba(255, 128, 179, 0.4);
  transform: scale(1.05);
}

  }

  /* GRID */
    .grid-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 180px;
    gap: 1rem;

    .card {
      background-color: white;
      border: 2px solid #ffc1da;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      font-weight: bold;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(255, 128, 179, 0.25);
      }
    }
  
    }
}