.belleza {
    background-color: #febdc6;
    padding: 4rem 2rem;
    text-align: center;

    .titulo-belleza {
        font-size: 2.5rem;
        color: #0fbee5;
        font-weight: bold;
        margin-bottom: 3rem;
    }

    .contenedor-belleza {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        width: 100%;
        justify-items: center;
        height: 100vh;
        .cont-info {
            width: 60%;
            display: flex;
            flex-direction: column;
            height: 100%;
            .producto {
                width: 100%;
                height: 100%;
                background-color: #ffffff;
                border-radius: 20px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                padding: 1.5rem;
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                display: flex;
                flex-direction: column; /* imagen a la derecha */
                align-items: center;
                justify-content: space-between;
                text-align: left;
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
                }
                ul {
                    padding: 0;

                    li {
                        font-size: 1rem;
                        color: #333;
                        padding: 0.8rem 1rem;
                        background-color: #fff;
                        border-radius: 30px;
                        margin-bottom: 2rem;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.05);
                            background-color: #ffd7eb;
                        }
                    }
                }
            }
        }
        .cont-images {
            position: relative;
            width: 40%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .image {
                width: 50%;
                height: 30%;
                border-top: 10px solid rgb(247, 247, 247);
                border-left: 10px solid rgb(247, 247, 247);
                border-right: 10px solid rgb(247, 247, 247);
                border-bottom: 4rem solid rgb(247, 247, 247);
                border-radius: 16px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 16px;
                }
            }
            .img1 {
                position: absolute;
                top: 20px;

                right: 40px;
            }
            .img2 {
                position: absolute;
                top: 200px;
            }
            .img3 {
                position: absolute;
                top: 380px;
                right: 40px;
            }
        }
    }
}
