.tienda-kpop {
    padding: 4rem 2rem;
    background-color: #fff5fb;

    /* FILTROS */
    .filtros {
        display: flex;
        gap: 1rem;
        justify-content: right;
        margin-bottom: 3rem;
        flex-wrap: wrap;
    }

    /* GRID */
    .grid-productos {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 180px;
        gap: 1rem;

        .card {
            background-color: white;
            border: 2px solid #ffc1da;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            font-weight: bold;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 6px 15px rgba(255, 128, 179, 0.25);
            }
        }
    }
}
